/* Importation de la police Russo One */
@import url('https://fonts.googleapis.com/css2?family=Russo+One&display=swap');

body {
    background-color: black;
    color: white;
    display: grid;
    grid-template-rows: auto auto auto auto;
    grid-template-areas:
        "header"
        "content"
        "footer";
    font-family: "Russo One", sans-serif;
}

.site-header {
    grid-area: header;
    display: flex;
    justify-content: space-between;
    align-items: center;
    color: white;
    background-color: rgb(23, 6, 37);
    border-radius: 8px;
}

.site-header h1 {
    display: inline;
    position: relative;
    left: 1%;
}

.hamburger-container {
    position: relative;
    right: 1%;
}

.hamburger-menu {
    font-size: 40px;
    cursor: default;
    transition: transform 0.5s ease-in-out, font-size 0.3s ease-in-out;
}

.hamburger-menu.active {
    transform: rotate(-90deg);
}

.dropdown-menu {
    opacity: 0;
    position: absolute;
    text-align: right;
    top: 90%;
    right: -10px;
    border-bottom-left-radius: 8px;
    border-bottom-right-radius: 8px;
    width: 210px;
    background-color: rgb(23, 6, 37);
    color: black;
    list-style: none;
    padding: 10px 0;
    margin: 0;
    transform: translateY(-10px); 
    transition: opacity 0.3s ease-in-out, transform 0.3s ease-in-out;
}

.dropdown-menu.active {
    opacity: 1;
    transform: translateY(0);
}

.dropdown-menu.active li button {
    cursor: pointer;
}

.dropdown-menu li {
    padding: 8px 20px;
    user-select: none;
}

.dropdown-menu li button {
    color: white;
    width: 100%;
    background-color: rgb(23, 6, 37);
    font-family: inherit;
    border: none; 
    padding: 10px;
    text-align: left;
}

.dropdown-menu li button:hover {
    border-radius: 8px;
    background-color: #4c1972;
}